header {
  background-color: #1c4586; 
  color: white;
  text-align: center;
  font-size: 80px;
  font-family: Arial, sans-serif;
  border: 3px solid black;
}

aside {
  font-family: Arial, sans-serif;
  display: block;
  padding-left: .5rem;
  margin-left: .5rem;
  width: 40%;
  float: right;
}

section>h1 {
  text-align: center;
  font-size: 40 px;
}

#demobox {
  background-color: #cfe2f2;
  padding: 10px;
  padding-top: 10px;
}

section {
  font-family: Arial, sans-serif;
  display: block;
  float: left;
  padding-left: 300px;
  padding-right: 300px;
}

.footer {
  padding: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #1c4586; 
  border: 3px solid black;
  position: fixed;
}